<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Điều hướng động</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
      <li class="breadcrumb-item active">Điều hướng động</li>
    </ol>
    <div class="card mb-4">
      <div class="card-body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla,
        molestiae eum! Perferendis, quidem laborum harum unde reprehenderit
        nesciunt praesentium ab. Deleniti error reprehenderit at mollitia atque
        et consectetur officiis ducimus?
      </div>
    </div>
  </div>
</main>