<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Điều hướng tĩnh</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
      <li class="breadcrumb-item active">Điều hướng tĩnh</li>
    </ol>
    <div class="card mb-4">
      <div class="card-body">
        <p class="mb-0">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem
          dolor delectus in optio cumque dolore fugiat unde inventore saepe
          iste! Et itaque magnam quasi ab deserunt delectus neque eos
          reprehenderit.
        </p>
      </div>
    </div>
    <div style="height: 100vh"></div>
    <div class="card mb-4"><div class="card-body">When scrolling, the navigation
        stays at the top of the page. This is the end of the static navigation
        demo.</div></div>
  </div>
</main>